body {
  margin: 0px;
  height: 100vh;
  background-color: #fff7d4;
  overflow: hidden;
  display: grid;                        /*  auto    1fr      auto           */
  grid-template-columns: auto 1fr auto; /*  "header header   header" auto   */
  grid-template-rows: auto 1fr auto;    /*  "nav    article  adside" 1fr    */
}                                       /*  "footer footer   footer" auto   */

header {
  grid-area: 1 / 1 / 2 / 4;
  background-color: #ffd95a;
  font-size: 18px;
  width: 100%;
  color: #4c3d3d;
  padding: 30px 0px;
}
.header-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.header-content {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

  
.header-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
  
.header-menu li {
    display: inline-block;
    margin-right: 20px;
}
  
.header-menu li:last-child {
    margin-right: 0;
}
  
.header-menu a {
    color: #4c3d3d;
    text-decoration: none;
}
  
.header-bottom {
    margin-top: 20px;
    text-align: center;
}
  
.header-bottom p {
    margin: 0;
}
  
@media (max-width: 100%) {
    .header-content {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }
    .header-menu{
        text-align: left;
    }
    .header-menu li {
      display: block;
      margin-bottom: 10px;
    }
}

nav {
  grid-area: 2 / 1 / 3 / 2;
  background-color:#4c3d3d; 
}

article {
  grid-area: 2 / 2 / 3 / 3;
  border: dashed 3px #4c3d3d;
}

aside {
  grid-area: 2 / 3 / 3 / 4;
  background-color: #c07f00;
}

footer {
  grid-area: 3 / 1 / 4 / 4;
  background-color: #ffd95a;
  font-size: 18px;
  width: 100%;
  color: #4c3d3d;
  padding: 30px 0px;
}
.footer-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.footer-content {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

  
.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
  
.footer-menu li {
    display: inline-block;
    margin-right: 20px;
}
  
.footer-menu li:last-child {
    margin-right: 0;
}
  
.footer-menu a {
    color: #4c3d3d;
    text-decoration: none;
}
  
.footer-bottom {
    margin-top: 20px;
    text-align: center;
}
  
.footer-bottom p {
    margin: 0;
}
  
@media (max-width: 100%) {
    .footer-content {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }
    .footer-menu{
        text-align: left;
    }
    .footer-menu li {
      display: block;
      margin-bottom: 10px;
    }
}