/*Useful video for creating a responsive website https://www.youtube.com/watch?v=srvUrASNj0s&t=4144s*/
/*Standard utseende for nettsidene */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  height: 100vh;
  background-color: rgb(246, 238, 230);
  overflow-x: hidden;
  display: grid;                        /*  --------  1fr  ----------       */
  grid-template-columns: 1fr;           /*  "-------- navbar --------" auto */
  grid-template-rows: auto 1fr auto;    /*  "------- article --------" 1fr  */
  grid-template-areas: 
  "nav"
  "article"
  "footer";
}                                       /*  "------- footer ---------" auto */
.main-container{
  display: flex;               /* youtube: https://youtu.be/phWxA89Dy94*/
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.main-flexbox{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 1em 1em;
}
/* fordeling horisontalt skjer i individuelle felt, avhenging av layout ()()()SEAN()()() */

/*Navigation bar w/ hamburgermenu*/
nav {
  grid-area: nav;
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #DDB892;
  z-index: 99;
  width: 100%;
  height: 50px;
  padding: 1em;
}
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li { /*Space between links*/
  margin: 0 1rem;
  overflow: hidden; /*Hides the links when container is collapsed*/
}

.menu a {  
  color: #4c3d3d;
  text-decoration: none;
}


.menu-button-container { /*Hotfixes to make the hyperlinks look nice*/
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle { /*Hides the checkbox*/
  display: none;
}

@media screen and (max-width: 768px) {
  

.menu-button, /*Design of the three white lines that make out the hamburger meny icon*/
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0); /*"0" is opacity and its function is tho hide the middle line when activated*/
}

/*Turns one of the lines -405 degrees */
#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px; /*Allows the line to use the whole flexbox*/
  transform: rotate(-405deg);
}

  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0; 
    margin-top: 3.1rem;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: rgb(238, 224, 201, 0.9);
  }
}

article {
  grid-area: article;
  padding-top: 50px;
}


footer {
  grid-area: footer;
  background-color: #DDB892;
  font-size: 18px;
  width: 100%;
  color: #4c3d3d;
  padding: 30px 0px;
}
.footer-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.footer-content {
    display: grid;
    grid-template-columns: auto 1fr;
}

  
.footer-menu {
    padding: 0;
    margin: 0;
    text-align: center;
}
  
.footer-menu li {
    display: inline-block;
    margin-right: 20px;
}
  
.footer-menu li:last-child {
    margin-right: 0;
}
  
.footer-menu a {
    color: #4c3d3d;
    text-decoration: none;
}
  
.footer-bottom {
    margin-top: 20px;
    text-align: center;
}
  
.footer-bottom p {
    margin: 0;
}
  
@media screen and (max-width: 768px) { /*When the page is less than 700px, the design changes*/
    .footer-content {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }
    .footer-menu{
        text-align: left;
    }
    .footer-menu li {
      display: block;
      margin-bottom: 10px;
    }
}


/*Index sin spesifikke style */   /* bytte divs med section */
#main-photo{
  width: 100%;
}
.image-size{
  max-width: 100%;
  min-width: 70%;
}
.index-flexbox-a{
  flex: 1;
  background-color: hsl(30, 55%, 85%);
  border: 3px solid #decebd;
  border-radius: 25px;
  min-width: 50%;
}
.index-flexbox-b{
  flex: 1;
  border: 3px solid black;
  background-color: aqua;
  min-width: 50%;
}
/*
  .img-fade {
    position: relative; 
  }

  .img-fade:after {
    content:""; 
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,rgb(246, 238, 230, 1) 100%);
    height: 50%;  
  }*/





/*accessibillity sin spesifikke style */

/*Topical sin spesifikke style */

/*Kantina sin spesifikke style */

.kantine-bilde {
  width: 50%; 
  height: auto;
  border: 1px solid #000;
  margin: 10px;

}
.kantine-bilde2 {
  width: 50%;
  height: auto;
  border: 1px solid #000;
  margin: 10 px; 
}


/*Bibliotek sin spesifikke style */

/* bli enige om:
- kode shorthand/longhand, tengel anbefaler long
- før vi er ferdige ordne CSS struktur  
- liten bokstav på navn og klasser
- selvforklarende navn
- kommentere kode, og kilde om det trengs
*/
/*
- fjerne tall i klassenavn
*/