/*Useful video for creating a responsive website https://www.youtube.com/watch?v=srvUrASNj0s&t=4144s*/
/*Standard utseende for nettsidene */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  height: 100vh;
  background-color: rgb(245, 239, 231);/* rgb(246, 238, 230) */
  font-family: "Gill Sans", sans-serif;
  overflow-x: hidden;
  display: grid;                        /*  --------  1fr  ----------       */
  grid-template-columns: 1fr;           /*  "-------- navbar --------" auto */
  grid-template-rows: auto 1fr auto;    /*  "------- article --------" 1fr  */
  grid-template-areas:                  /*  "------- footer ---------" auto */
  "nav"
  "article"
  "footer";
}                                       /*  "------- footer ---------" auto */
.main-container{
  width: 97%;
  margin: 0 auto;
}
.main-flexbox{
  display: flex;  /* youtube: https://youtu.be/phWxA89Dy94*/
  flex-wrap: nowrap;
  gap: 1em;
  border: 1px dashed black;
  margin: 1em;
  justify-content: space-between;  /* space between, fjernet flex */
}
.main-flexbox-background{
  display: flex;
  flex-wrap: nowrap;
  border-radius: 10px;
  background-color: rgb(216, 196, 182); /*tekstboks*/
}
.main-flexbox-column{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  border: 1px dashed black;
}
.item{
  border: 1px dashed black;
  flex: 2;
  padding: 0em 1em;
}
.item-background{
  flex: 2;
  background-color: rgb(235, 227, 213); /*tekstboks*/
  border-radius: 10px;
  padding: 0em 0.5em;

}


/* fordeling horisontalt skjer i individuelle felt, avhenging av layout ()()()SEAN()()() */

/*Navigation bar w/ hamburgermenu*/
nav {
  grid-area: nav;
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(96, 108, 93); /*rgb(221, 199, 160)*/
  z-index: 99;
  width: 100%;
  height: 50px;
  padding: 1em;
}
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li { /*Space between links*/
  margin: 0 1rem;
  overflow: hidden; /*Hides the links when container is collapsed*/
}

.menu a {  
  color: #4c3d3d;
  text-decoration: none;
}


.menu-button-container { /*Hotfixes to make the hyperlinks look nice*/
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle { /*Hides the checkbox*/
  display: none;
}

@media screen and (max-width: 768px) {

.menu-button, /*Design of the three white lines that make out the hamburger meny icon*/
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0); /*"0" is opacity and its function is tho hide the middle line when activated*/
}

/*Turns one of the lines -405 degrees */
#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px; /*Allows the line to use the whole flexbox*/
  transform: rotate(-405deg);
}

  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0; 
    margin-top: 3.1rem;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: rgb(238, 224, 201, 0.9);
  }
}

article {
  grid-area: article;
  margin-top: 50px;
}


footer {
  grid-area: footer;
  background-color: rgb(96, 108, 93);
  font-size: 18px;
  width: 100%;
  color: #4c3d3d;
  padding: 30px 0px;
}
.footer-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.footer-content {
    display: grid;
    grid-template-columns: auto 1fr;
}

  
.footer-menu {
    padding: 0;
    margin: 0;
    text-align: center;
}
  
.footer-menu li {
    display: inline-block;
    margin-right: 20px;
}
  
.footer-menu li:last-child {
    margin-right: 0;
}
  
.footer-menu a {
    color: #4c3d3d;
    text-decoration: none;
}
  
.footer-bottom {
    margin-top: 20px;
    text-align: center;
}
  
.footer-bottom p {
    margin: 0;
}
  
@media screen and (max-width: 768px) { /*When the page is less than 700px, the design changes*/
    .footer-content {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }
    .footer-menu{
        text-align: left;
    }
    .footer-menu li {
      display: block;
      margin-bottom: 10px;
    }
}


/*Index sin spesifikke style */   /* bytte divs med section */
#main-photo{
  width: 100%;
}
.image-size{
  width: 100%;
  height: auto;
  min-width: 350px;
}
.index-item-picture{
  display: flex;
  align-items: center;
  flex: 1; /*pga item er 3, fjern endere dette da*/
}
#main-title{
  font-size: 5rem;
  text-align: center;
  font-weight: 600;
}
.main-container p{
  font-size: 1.5rem; 
  font-weight: 400;         /* font alt */
}
.main-container li{
  font-size: 1.5rem; 
  font-weight: 400; 
}
@media (max-width: 1040px){
  #main-title{
    font-size: 3.5rem;
  }
  .main-container p{
    font-size: 
  }
}

article > p{
  font-size: 3rem;
  text-align: center;
  font-weight: 450;
}

.main-flexbox > h2 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 550;
}

@media (max-width:768px){
  .main-flexbox-background{
    flex-direction: column;
  }
  .main-flexbox{
    flex-direction: column;         /* DISSE PÅVIRKER ALLE, MÅ SJEKKE OM DET FUNKER FOR ALLE SAMMEN */
  }
  .item-background{
    margin: 0.5em 0em;
  }
  .index-item-picture{
    order: 2;
  }
  #main-title{
    font-size: 3rem;
  }

  @media (max-width: 625px){
    #main-title{
      font-size: 2.5rem;
    }
  }
}

  .img-fade {
    position: relative; 
  }
  .img-fade:after {
    content:""; 
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,rgb(255, 255, 255, 1) 100%); /* 246, 238, 230 */
    height: 50%;  
  }


/*accessibillity sin spesifikke style */

/*Topical sin spesifikke style */
#førstetest{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.infotekst{
  background-color: hsl(30, 55%, 85%);
  padding: 10px;
  width: 50%;
  margin-right: 2em;
}
.bildekilde{
  background-color: hsl(30, 55%, 85%);
  padding: 5px;
  text-align: left;
}
.galleri{
  margin-right: 2px;
  background-color: hsl(30, 55%, 85%);
  margin: 0em 1em;
  padding: 10px;
}
.galleribilde{
  width: 100%;
  object-fit: cover;
  border: solid black 2px;
}
#topical-overskrift{
  text-align: center;
}

/*Kantina sin spesifikke style */
.kantine-bilde {
  width: 100%; 
  height: auto;
  border: 1px solid #000;
}
.kantine-bilde2 {
  width: 100%;
  height: auto;
  border: 1px solid #000;
  margin: 10px; 
}
.main-img-campus-places {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.campus-fontsize {
  font-size: 1.3rem;
}
.font-size-kantine-overskrift {
  font-size: 2rem;
}

/*Bibliotek sin spesifikke style */

/* bli enige om:
- kode shorthand/longhand, tengel anbefaler long
- før vi er ferdige ordne CSS struktur  
- liten bokstav på navn og klasser
- selvforklarende navn
- kommentere kode, og kilde om det trengs
*/
/*
- fjerne tall i klassenavn
*/
.small-image {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.medium-image {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.large-image {
  display: block;
  width: auto;
  height: 600px; 
  object-fit: cover;
}

span{
  color: yellow;
}
.capturebox-container {
width: 100%;
max-width: 100%;
display: flex;
flex-direction: column;
gap: 2em;
justify-content: center;
align-items: center;
margin: 1em 0em;
}
ul.capturebox
 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 60% 40%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
  }
li.capturebox-content {
    list-style-type: none;
    padding: 5rem 1rem;
    text-align: center;
    max-width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    gap: 10px;
    background-color: wheat;
  }

  .first-row-col1-capturebox {
    grid-area: 1 / 2 / 2 / 5;
  }
  .first-row-col2-capturebox {
    grid-area: 1 / 5 / 2 / 6;
  }
  .second-row-col3-capturebox {
    grid-area: 2 / 2 / 3 / 3;
  }
  .second-row-col4-capturebox {
    grid-area: 2 / 3 / 3 / 6;
  }

  /*
.image-title {
  position: relative;
}
  
.image-title:hover:after {
  position: absolute;
  content: attr(title);
  display: inline;
  right: 0px;
  bottom: 5px;
  padding: 5px;
  background-color: black;
  color: white;
}
*/

/*
h1 : 3
h2 : 3
p  : 3

flex verdier

*/